body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 530px;
}

.upload-section, .result-section {
  flex: 1;
}

h3 {
  margin-top: 0;
}

.upload-box {
  border: 2px dashed #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
}

.upload-box2 {
  border: 2px #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  position: relative;
}


.upload-box img {
  width: 100%;
  max-height: 380px;
  object-fit: contain;
}

.upload-box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 70%;
  margin-top: 10px;
  resize: none;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h4{
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
  font-size: 12px;
}
p{
  font-weight: normal;
}